%-*-Erlang-*-
{deps, [{cpflib, {git, "https://github.com/aialferov/cpflib.git", {tag, "master"}}},
	{regine, {git, "https://github.com/travelping/regine.git", {branch, "master"}}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.0.0"}}},
	{gun, {git, "https://github.com/ninenines/gun.git", {tag, "2.0.0-pre.2"}}}
       ]}.

{relx, [{release, {'kube-vxlan-controller', "1.0.0"},
	 ['kube-vxlan-controller', inets, cpflib, jsx, gun, regine, sasl]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{mode, prod},
	{overlay, [
	    {mkdir, "bin"},
	    {template, "./priv/admin_bin", "bin/vxlan-admin"}
	]}
]}.

{shell, [{apps, ['kube-vxlan-controller']},
	 {config, "priv/kube-vxlan-controller.config"}]}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
		deprecated_functions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B)", []}]}.
