{deps, [
    {cpflib, {git, "git://github.com/aialferov/cpflib", {tag, "master"}}},
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "1.11.0"}}},
    {ewsc, {git, "git://github.com/aialferov/ewsc", {tag, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "master"}}}
]}.

{shell, [{apps, ['kube-vxlan-controller']},
         {config, "priv/kube-vxlan-controller.config"}]}.

{provider_hooks, [{post, [{compile, escriptize}]}]}.

{escript_emu_args, "%%! -start_epmd false"}.
