{deps, [
    {wsock, {git, "git://github.com/aialferov/wsock", {tag, "master"}}},
    {hackney, {git, "git://github.com/benoitc/hackney.git", {tag, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "master"}}}
]}.

{shell, [{apps, [hackney]}]}.
{provider_hooks, [{post, [{compile, escriptize}]}]}.
